/*
  the more images within the cluster, the greater the distance we travel on
  the y,z axis, the more height this will need,
  as well as 
*/

.cluster-container {

}

.mb-active {
  position: relative;
  width: 100%;
  height: 12700px;  /* << controls the distance for the zoom scroll effect */
}

.mb-active .block--views {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: absolute;
}
.mb-active.mb-fixed .block--views {
  top: 0;
  left: 0;
  position: fixed;
}
.mb-active .block__content {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.l-main .view-bolero {
  overflow: visible;
}
.mb-active .view-all-content {
  -webkit-perspective: 130em;
  perspective: 130em;
  -webkit-perspective-origin: center center;
  perspective-origin: center center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
}
.mb-active.mb-fixed .view-all-content {
  position: fixed;
}

.view-layer {
  transform-style: preserve-3d;
}

.cluster-img {
  position: absolute;
}



/* x:  */
/* y:  */
/* z-index: controls ordering front to back */
#img-1 {
  width: 55%;
  transform: translate3d(-5em, 40vh, -100em);
}
#img-2 {
  width: 35%;
  transform: translate3d(-50em, -15vh, -400em);
}
#img-3 {
  width: 35%;
  transform: translate3d(70em, -50vh, -340em);
}
#img-4 {
  width: 80%;
  transform: translate3d(-30em, 50vh, -800em);
}

#img-5 {
  width: 30%;
  transform: translate3d(5em, -10vh, -500em);
}
#img-6 {
  width: 20%;
  transform: translate3d(-50em, 65vh, -15em);
}
#img-7 {
  width: 25%;
  transform: translate3d(-30em, -5vh, -20em);
}
#img-8 {
  width: 40%;
  transform: translate3d(-70em, 5vh, -125em);
}
