/**
 * the more images within the cluster, the greater the distance we travel on
 * the y,z axis, the more height this will need,
 * as well as
 */

.cluster-container {

}

.mb-active {
  position: relative;
  width: 100%;
  height: 11000px;
  /* =>   ^ controls the distance for the zoom scroll effect */
}

.mb-active .block--views {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: absolute;
}
.mb-active.mb-fixed .block--views {
  top: 0;
  left: 0;
  position: fixed;
}
.mb-active .block__content {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.l-main .view-bolero {
  overflow: visible;
}
.mb-active .view-all-content {
  -webkit-perspective: 130em;
  perspective: 130em;
  -webkit-perspective-origin: center center;
  perspective-origin: center center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
}
.mb-active.mb-fixed .view-all-content {
  position: fixed;
}

.view-layer {
  transform-style: preserve-3d;
}

.cluster-img {
  position: absolute;
}



/**
 * x: [description]
 * y: [description]
 * z-index: controls ordering front to back
 */

#img-0 {
  width: 55em;
  transform: translate3d(-5vw, 40vh, -100em);
}
#img-1 {
  width: 35em;
  transform: translate3d(-50vw, -15vh, -400em);
}
#img-2 {
  width: 35em;
  transform: translate3d(70vw, -50vh, -340em);
}
#img-3 {
  width: 80em;
  transform: translate3d(-30vw, 50vh, -800em);
}

#img-4 {
  width: 30em;
  transform: translate3d(5vw, -10vh, -500em);
}
#img-5 {
  width: 20em;
  transform: translate3d(-50vw, 65vh, -15em);
}
#img-6 {
  width: 25em;
  transform: translate3d(-30vw, -5vh, -20em);
}
#img-7 {
  width: 40em;
  transform: translate3d(-70vw, 5vh, -125em);
}
