.main-container {
  width: 100vw;
  height: 150vh;
}

.main-text {
  position: absolute;
  margin-top: 15%;
  left: 15%;
  color: #575757;
  font-size: 150px;
  font-weight: 800;
}

.main-text-sub {
  position: absolute;
  margin-top: 25%;
  left: 25%;
  color: #575757;
  font-size: 75px;
  font-weight: 500;
}
