.main-container {
  width: 100vw;
  height: 450vh;
}

.main-text {
  margin-top: -20%;
  color: red;
  font-size: calc(12vw + 20px);
  font-weight: 800;
  letter-spacing: 3px;
  z-index: 99;
  position: relative;
}

.main-text.animated {
  animation-name: mainTextAppear;
  animation-duration: 1.35s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

@keyframes mainTextAppear {
  0% {
    margin-top: -20%;
  }
  100% {
    margin-top: 15%;
  }
}


.main-text-sub {
  position: absolute;
  margin-top: 25%;
  left: 25%;
  color: #575757;
  font-size: 75px;
  font-weight: 500;
}

.main-img-content{
  height: calc(100vh - 70px);
  /*transform: translate3d(0, 20%, 0);*/
}

.main-img{
  transform: translate3d(0, 20%, 0);
}
